/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript&plugins=normalize-whitespace */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: var(--syntax-string-color);
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    height: 100%;
	font-size: 14px;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
    overflow: scroll;
	padding: 0px 20px 100px;

}

/* Code blocks */
pre[class*="language-"] {
	overflow: scroll;
    scroll-behavior: smooth;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: var(--syntax-background-color);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	border-radius: 5px;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: var(--syntax-literal-color);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: var(--syntax-name-color);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: var(--syntax-declaration-color);

}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

:root{
--syntax-background-color: #020f1d;
--syntax-text-color: #f8f8f2;
--syntax-comment-color: #808080;
--syntax-declaration-color: #f39c12;
--syntax-literal-color: #dda0dd;
--syntax-error-color: #f9690e;
--syntax-name-color: #7ed07e;
--syntax-string-color: #f2ca27;
}
